<body>
  <div class = "chat-side">
    <div class = "chat-side-top">
      <div class = "chat-side-top-user">
        <div class = "chat-side-top-user-name">
          seo
        </div>
        <div class="chat-side__user--icon">
          <div class="chat-side__user--new-group">
            <%= link_to new_message_path, method: :get do %>
              <i class='fa fa-edit'></i>
            <% end %>
          </div>
          <div class="chat-side__user--edit-user">
            <%= link_to new_message_path, method: :get do %>
              <i class='fa fa-cog'></i>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <div class = "chat-side-bottom">
      <div class = "chat-side-bottom-group">
        <div class="chat-side-bottom-group-name">
          group-name
        </div>
        <div class="chat-side-bottom-group-message">
          group-message
        </div>
      </div>
    </div>
  </div>
  <div class = "chat-main">
    <div class = "chat-main-group">
      <div>
        <div class="chat-main-group-name">
          Sample
        </div>
        <div class = "chat-main-group-member">
          Members:seo,neko
        </div>
      </div>
      <div class="chat-main-group-edit">
        <div class="chat-main-group-edit-text">
          Edit
        </div>
      </div>
    </div>
    <div class = "chat-main-message">
      <div class = "chat-main-message-box">
        <div class="chat-main-message-box-name">
          shigeru
        </div>
        <div class="chat-main-message-box-text">
          なるほど
        </div>
      </div>
      <div class = "chat-main-message-box">
        <div class="chat-main-message-box-name">
          shigeru2
        </div>
        <div class="chat-main-message-box-text">
          なるほど2
        </div>
      </div>
      <div class = "chat-main-message-box">
        <div class="chat-main-message-box-name">
          shigeru3
        </div>
        <div class="chat-main-message-box-text">
          なるほど3
        </div>
      </div>
    </div>
    <div class='chat-main__footer'>
      <form class="chat-main__footer-form" id="new_message" enctype="multipart/form-data" action="/groups/2182/messages" accept-charset="UTF-8" method="post">
        <input name="utf8" type="hidden" value="&#x2713;" />
        <input type="hidden" name="authenticity_token" value="CanJr+tbhtfzJkWLA5609Ng2X2cuRNRnX3EUjqzpkfy2/c9lawJA/k6c0j4HZwbPq8RQ5HGlppUtqtWuIpIf5w==" />
        <div class='chat-main__footer-body'>
          <div class="field_with_errors">
            <input placeholder="type a message" class="message" type="text" value="" name="message[body]" id="message_body" />
          </div>
          <label class="chat-file" for="message_image">
            <input class="image" type="file" name="message[image]" id="message_image" />
            <i class='fa fa-image'></i>
          </label>
        </div>
        <input type="submit" name="commit" value="Send" class="submit" data-disable-with="Send" />
      </form>
    </div>
  </div>
</body>
