%body
  .chat-side
    .chat-side-top
      .chat-side-top-user
        .chat-side-top-user-name
          seo
        .chat-side__user--icon
          .chat-side__user--new-group
            = link_to new_message_path, method: :get do
              %i.fa.fa-edit
          .chat-side__user--edit-user
            = link_to new_message_path, method: :get do
              %i.fa.fa-cog
    .chat-side-bottom
      .chat-side-bottom-group
        .chat-side-bottom-group-name
          group-name
        .chat-side-bottom-group-message
          group-message
  .chat-main
    .chat-main-group
      .chat-main-group-name
        Sample
      .chat-main-group-member
        Members:seo,neko
    .chat-main-group-edit
      .chat-main-group-edit-text
        Edit
  .chat-main-message
    .chat-main-message-box
      .chat-main-message-box-name
        shigeru
      .chat-main-message-box-text
        なるほど
    .chat-main-message-box
      .chat-main-message-box-name
        shigeru2
      .chat-main-message-box-text
        なるほど2
    .chat-main-message-box
      .chat-main-message-box-name
        shigeru3
      .chat-main-message-box-text
        なるほど3
  .chat-main__footer
    %form#new_message.chat-main__footer-form{"accept-charset" => "UTF-8", :action => "/groups/2182/messages", :enctype => "multipart/form-data", :method => "post"}
      %input{:name => "utf8", :type => "hidden", :value => "✓"}/
      %input{:name => "authenticity_token", :type => "hidden", :value => "CanJr+tbhtfzJkWLA5609Ng2X2cuRNRnX3EUjqzpkfy2/c9lawJA/k6c0j4HZwbPq8RQ5HGlppUtqtWuIpIf5w=="}/
      .chat-main__footer-body
        .field_with_errors
          %input#message_body.message{:name => "message[body]", :placeholder => "type a message", :type => "text", :value => ""}/
        %label.chat-file{:for => "message_image"}
          %input#message_image.image{:name => "message[image]", :type => "file"}/
          %i.fa.fa-image
      %input.submit{"data-disable-with" => "Send", :name => "commit", :type => "submit", :value => "Send"}/
